@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
body {
    background-color: #c2c5bb;
    margin: 0;
    padding: 0;
    
}
#content {
    background-color: #c2c5bb;
    max-width: 1600px;
    margin: 0 auto; 
    
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 10px;
    color: black;
    line-height: 1em;
    font-family:'Permanent Marker','Geneva', sans-serif;
    font-size: 20PX;  
}

P {
    padding: 10px;
    color: black;
    line-height: 1em;
    font-family:'Shadows Into Light','Georgia', sans-serif;
    font-size: 10PX;  
}
nav {
    background-color: #556B2F;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}   

nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    line-height: 1em;
    font-family:'Permanent Marker','Shadows Into Light', sans-serif;
    font-size: 1em;
}
nav  a:hover {
    background-color: white;
    color:black;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    height: 100px;
    position: relative;
}
header {   
    display: grid; 
    grid-template-columns: 150px auto;
    background-color: #556B2F;
}

img { 
    max-width: 100%;  
}
main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}
.home-title {
    margin-top: 10px;
    font-size: 2em;
    color: black;
}

#hero-img {
    width: 100%; 
}

#hero-msg {
    text-align: center;
}

.book, .join {
    font-size: 18px;
    background-color:#c89d7c;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family:'Shadows Into Light','Georgia', sans-serif;
}

.book:hover, .join:hover {
    background-color: white;
    color: black;
    margin-top: 50px;

}
button-box {
    text-align: center;
    margin: 55em;  
    font-family:'Shadows Into Light','Georgia', sans-serif;
}

.card-img {
    width: 30%;
    height: 300px;
    border: 10px solid #556B2F;
    border-radius: 50%; 
}
.rivers-card, .camping-card, .rapids-card {
    margin:200px 0;
}

.icon {
    width: 80px;
}

#background {
    height: 725px;
    background-color:#556B2F;
}

#hero-box {
    text-align:center ;
}

.mountains{
    width: 100%;
}

.msg {
    background-color: #556B2F;
    padding: 35px;
}

.msg p {
    font-size: .8em;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
    color: black;
    padding-bottom: 15px;
}

h2 {
    font-family:  'Permanent Marker', Georgia, Garamond;
    margin: 0;
}


#info {
    font-size: .75em;
    color: black;
    font-family:'Shadows Into Light','Verdana', sans-serif;
}

footer {
   
    background-color: #556B2F;
    color: black;   
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center ;

}

footer a {
    background-color:#556B2F;
    color:black;
    text-decoration: none;
    font-family:'Shadows Into Light', Verdana, sans-serif;
    
}

footer a:hover {
    color: white;
} 

footer p {
    font-size: .75em;
}

footer .social img {
    padding-top: 15px;
    font-size: .75em;
}

.socialmedia {
    padding: 10px;
    font-size: .75em;
}