@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
body {
    background-color: white;
    margin: 0;
    padding: 0;
    
}
#content {
    background-color: tan;
    max-width: 1600px;
    margin: 0 auto; 
    
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    padding: 10px;
    color: black;
    line-height: 1em;
    font-family:'Permanent Marker','Geneva', sans-serif;
    font-size: 20PX;  
}

P {
    padding: 10px;
    color: black;
    line-height: 1em;
    font-family:'Shadows Into Light','Georgia', sans-serif;
    font-size: 10PX;  
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #556B2F;
    padding: 1em;
}   

nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 35px;
    line-height: 1em;
    font-family:'Permanent Marker','Shadows Into Light', sans-serif;
    font-size: 1em;
}
nav  a:hover {
    background-color: white;
    color:black;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    height: 100px;
    position: relative;
}
header {   
    display: grid; 
    grid-template-columns: 150px auto;
    background-color: #556B2F;
}

img { 
    max-width: 100%;  
}
main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}
.home-title {
    margin-top: 10px;
    font-size: 2em;
    color: black;
}

#hero-img {
    width: 100%; 
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 100px;
}
#hero-msg h1,h4 {
    color: white;
    }

.book, .join {
    font-size: 18px;
    background-color:#c89d7c;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family:'Shadows Into Light','Georgia', sans-serif;
}

.book:hover, .join:hover {
    background-color: white;
    color: black;
    margin-top: 50px;

}
button-box {
    text-align: center;
    margin: 55em;  
    font-family:'Shadows Into Light','Georgia', sans-serif;
}

.card-img {
    width: 100%;
    border: 10px solid #556B2F;
    border-radius: 50%; 
}

.card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }

.rivers-card, .camping-card, .rapids-card {
    margin:200px 0;
}

.rivers-card{
    width: 100px;
    grid-column: 3/5;
    grid-row: 2/3;
}

.camping-card{
    width: 100px;
    grid-column: 6/8;
    grid-row: 2/3;
    
}

.rapids-card{
    width: 100px;
    grid-column: 9/11;
    grid-row: 2/3;
}
.icon {
    width: 80px;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color:#556B2F;
}

#hero {
     display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
    }

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    text-align:center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10fr);
    grid-gap: 2em;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: tan;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg p {
    font-size: .8em;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
    color: black;
    padding-bottom: 15px;
   
}

h2 {
    font-family:  'Permanent Marker', Georgia, Garamond;
    margin: 0;
}


#info {
    font-size: .75em;
    color: black;
    font-family:'Shadows Into Light','Verdana', sans-serif;
}

footer {
   
    background-color: #556B2F;
    color: black;   
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

footer a {
    background-color:#556B2F;
    color:black;
    text-decoration: none;
    font-family:'Shadows Into Light', Verdana, sans-serif;
    margin-bottom: auto;
}

footer a:hover {
    color: white;
} 

footer p {
    font-size: .75em;
}

footer .social img {
    padding-top: 15px;
    font-size: .75em;
}

.socialmedia {
    padding: 10px;
    font-size: .75em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}