@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
.icon {
    width: 45px;
    height: 45px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;

}
#hero-box {
    text-align:center ;
}

#hero-msg h1, #hero-msg {
    text-align: center;
}

.button-box {
    text-align: center;
  

    
}

main section {
    text-align: center;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
}

main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color:#556B2F;
    ;
}
body {
    background-color: #c2c5bb;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #556B2F;
    font-size: 1em;
    padding: 35px;
}   

nav a {
    text-align: center;
    background-color: #556B2F;
    color: black;
    text-decoration: none;
    padding: .5em.5em;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
}

nav li {
    font-size: 10px;
}

nav ul {
  list-style: none; 
  margin: 0; 
}

nav  a:hover {
    background-color: black;
    color:black;
}
#content {
    max-width: 1600px;
    margin: 0 auto; 
    background-color: white;

}
header {    
    background-color: #556B2F;
}


.book, .join {
    font-size: 18px;
    background-color:#c89d7c;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color: black;
}


.home-title {
    font-size: 2em;
    color: black;
    font-family: 'Permanent Marker', Georgia, Garamond;
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin:200px 0;
}

.card-img {
    border: 10px solid #556B2F; 

}
h1,h2,h3,h4,h5,h6 {
    color: black;
}

.msg {
    background-color: #556B2F;
    line-height: 1.5em;
    padding: 35px;
}

h2 {
    font-family:  'Permanent Marker', Georgia, Garamond;
    margin: 0;
}

.msg, h2 {
    color: black;
}

.msg p {
    font-size: .8em;
    font-family: 'Shadows Into Light', Verdana, Tahoma;
    color: black;
    padding-bottom: 15px;
}
img { 
    max-width: 100%;  
}

#hero-img {
    max-width: 100%;
    
}

footer {
    background-color: #556B2F;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;

}

footer a {
    background-color:#556B2F;
    color:black;
    text-decoration: none;
    
}

footer a:hover {
    color: white;
} 

footer p {
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
}

.socialmedia {
    padding: 10px;
}