body {
    background-color:  #C2C5BB;
    margin: 0;
    padding: 0;
}
content {
    background-color: #C2C5BB;
    max-width: 1600px;
    margin: 0 auto; 
    
}
header {   
    display: grid; 
    grid-template-columns: 150px auto;
    background-color: #c8911a;  
}
#hamnav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}   

 #hamitems a {
  color: #C2C5BB;
  line-height: 2.5em; 
  padding: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
 font-family:'Montserrat', sans-serif;
 }

h1 {
    text-align: left;
    padding: 10px;
    color: black;
    line-height: 2.1em;
    font-family:'Permanent Marker', Geneva, sans-serif;
    font-size: 4em;    
}

h2 {
    text-align: left;
    color: black;
    line-height: 1.1em;
    font-family:'Permanent Marker', Geneva, sans-serif;
    font-size: 2em;  
}

p {
    text-align: left;
    padding: 10px;
    color: black;
    line-height: 1.5em;
    font-family:'Permanent Marker', Geneva, sans-serif;
    font-size: 1.25em;    
}
   

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid: gap 40px;
    justify-content: center;
   

    
  }
  .logo-img {
    width: 150px;
    grid-column: 2/2;
    grid-row: 1/1;
    margin-top: 20px;

  }

  .home-title {
    grid-column: 2/5;
    grid-row: 1/1;
    align-self: center;
    padding: 40px;
    margin-top: 20%;
    text-align: center;

  }
  .paragraph-title {
    grid-column: 1/6;
    grid-row: 2/2;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
  }
  
  .home-grid p {
    grid-column: 2/6;    
    grid-row: 3/5;
    justify-content: left;
    text-align: left;
  
    
  }

  .paragraph-image1 {
    width: 700px;
    padding: 20px;
    grid-column: 2/6;
    grid-row: 5/9;
    padding: 20px;
  }
  .paragraph-image2 {
    width: 700px;
    grid-column: 6/9;
    grid-row: 1/4;
    padding: 20px;
  }

 .aside-paragraph {
    grid-column: 6/10;
    grid-row: 5/6;
    text-align:left;
 }
 footer {
    background-color: #c8911a;  
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 
.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 50px;
    margin: 8% auto 0;
    text-align: center;
}   
.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;    
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button1 {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline: none;
    cursor: pointer;
}
.signup-btn {
    background-color: #1c8adb;
}
.twitter-btn {
    background-color: #21afde;
}
a {
    text-decoration: none;
}
hr {
    margin-top: 20px;
    width:80%;
}
.or {
    background: #fff; 
    margin: -19px auto 10px ;
}
img {
    width: 70px;
}
