body {
    background-color:  white;
    margin: 0;
    padding: 0;
}
#content {
        background-color: #C2C5BB;
        max-width: 1600px;
        height: auto;
        margin: 0 auto;   
}
header {   
    display: grid; 
    grid-template-columns: 150px auto;
    background-color: #c8911a;  
}
.dropbtn {
    background-color: #C2C5BB;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  header {   
      display: grid; 
      grid-template-columns: 150px auto;
      background-color: #c8911a;  
  }
  #hamnav {
      justify-content: space-around;
      align-self: right;
      padding: 1em;
  }   
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: gray;}
h1 {
    text-align: left;
    padding: 20px;
    color: black;
    line-height: 2.2em;
    font-family:'Permanent Marker', Geneva, sans-serif;
    font-size: 3.5em;    
}

h2 {
    text-align: left;
    color: black;
    line-height: 1.1em;
    font-family:'Permanent Marker', Geneva, sans-serif;
    font-size: 2em;  
}



.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid: gap 40px;
    justify-content: center;
   
  }
  .logo-img {
    width: 150px;
    grid-column: 1/2;
    grid-row: 1/1;
    padding: 10px;
    margin-top: 100px;
    margin-left: 50px;

  }

  .home-title {
    grid-column: 2/5;
    grid-row: 1/1;
    align-self:center;
    padding: 20px;
    margin-top: 50%;
    margin-left: 75px;
    text-align:left;

  }
 .paragraph-title {
    grid-column: 1/6;
    grid-row: 2/3;
    padding: 10px;
    align-self: left;
    text-align: left;
    margin-left: 25px;
    margin-top: 100px;
  }
  
  p {
    grid-column: 1/5;    
    grid-row: 3/5;
    padding: 10px;
    align-self: left;
    text-align: left;
    margin-top: 100px;
    margin-left: 25px;
    font-family:'Permanent Marker', Geneva, sans-serif;

  }
 
  .paragraph-image1 {
    max-width: 100%;  
    width: 700px;
    padding: 20px;
    grid-column: 1/6;
    grid-row: 5/9;
    border: 20px;
    margin-top: 20px;

  }
  .paragraph-image2 {
    width: 700px;   
    grid-column: 6/10;
    grid-row: 1/5;
    padding: 10px;
    margin-top: 100px;
    margin-right: 50px;
  }

 .aside-paragraph {
    grid-column: 7/10;
    grid-row: 5/6;
    align-self: left;
    text-align: left;
    margin-top: 100px;
    padding: 10px;
    font-size: 1.75em;
    line-height: 1.50em;
 }
 footer {
    background-color: #c8911a;  
    padding: 25px 50px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 
.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 50px;
    margin: 8% auto 0;
    text-align: center;
}   
.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;    
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button1 {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline: none;
    cursor: pointer;
}
.signup-btn {
    background-color: #1c8adb;
}
.twitter-btn {
    background-color: #21afde;
}
a {
    text-decoration: none;
}
hr {
    margin-top: 20px;
    width:80%;
}
.or {
    background: #fff; 
    margin: -19px auto 10px ;
}
img {
    width: 70px;
}
